/* GENERAL FORMATTING FOR ALL THE PAGES */
/* GENERAL FORMATTING FOR ALL THE PAGES */
/* GENERAL FORMATTING FOR ALL THE PAGES */
/* Font Syle */
* {
    font-family: "Manrope", sans-serif;
  }

/* NAVBAR */
.navbar {
    opacity: 1;
}

/* Navbar Brand */
.navbar-brand:link, .navbar-brand:active, .navbar-brand:visited {
    font-size: 16px;
    color: #A4A091;
}
.navbar-brand:hover {
    color: #000;
}

/* Navbar Links */
.nav-link:link, .nav-link:active, .nav-link:visited {
    font-size: 16px;
    color: #000;
}

.nav-link:hover {
    color: #A4A091;
    text-decoration: line-through;
}

/* MAIN TITLES */
.h1 {
    color: #A4A091;
    font-weight:200;
    font-size: 40px;
    margin-bottom: 30px;
}

/* MAIN TITLES <b> CONTENTS */
.h1 > b {
    font-weight: 600;
}

/* Subtitles */
.h2 {
    font-weight: 200;
    color: #000;
    font-size: 35px;
}

/* Sub-Subtitles */
.h3 {
    font-size: 25px;
    font-weight: 280;
    text-align: center;
    margin-bottom: 30px;
}

/* Sub-sub-subtitles */
.h4 {
    font-size: 20px;
    font-weight: 300;
}

/* Descriptions (smaller font) */
.small-text {
    font-weight: 100;
    font-size: 15px;
}

/* Descriptions <b> contents */
.small-text > b {
    font-weight: 700;
}

/* NAVBAR BRAND */
.height-for-image-new {
    padding-bottom: 10px;
    height: 300px;
}

.info-container {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}

.info-container > div {
    border: 1px solid black;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 20px;
}


/* HOME LINK FOR PURCHASE RECORDS*/


#view_purchase_records_link:hover, #go_back_button_home:hover {
    text-decoration: underline !important;
}

@media (min-width:768px) and (max-width:1199px) {
    /* GENERAL FORMATTING */
    /* Title */
    .h1 {
        font-size: 5.4vw;
    }

    /* Subtitle */
    .h2 {
        font-size: 2.5em;
    }

    /* Sub-title */
    .h3 {
        font-size: 2em;
    }

    /* Sub-sub-subtitle */
    .h4 {
        font-size: 1.5em;
    }

    /* Description */
    .small-text {
        font-size: 1em;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .height-for-image-new {
        height: 400px;
    }
}

@media (min-width:992px) {
    .height-for-image-new {
        height: 200px;
    }
}

/* For XL and larger width devices */
@media (min-width:1200px) {
    /* GENERAL FORMATTING */
    /* Main Title*/
    .h1 {
        font-size: 4em;
    }

    /* Subtitle */
    .h2 {
        font-size: 3.2em;
    }

    /* Sub-subtitle */
    .h3 {
        font-size: 2.4em;
    }

    /* Sub-sub-subtitle */
    .h4 {
        font-size: 1.8em;
    }
    
    /* Description */
    .small-text {
        font-size: 1.2em;
    } 
}

@media(max-width:576px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    #info-row .info-container:nth-child(odd) {
        padding-right: 10px;
        padding-left: 0;
    }
    
    #info-row .info-container:nth-child(even) {
        padding-left: 10px;
        padding-right: 0;
    }
}

@media(min-width:768px) and (max-width:991px) {
    #info-row .info-container:nth-child(3n-2) {
        padding-right: 10px;
        padding-left: 0;
    }

    #info-row .info-container:nth-child(3n-1) {
        padding-right: 10px;
        padding-left: 10px;
    }

    #info-row .info-container:nth-child(3n) {
        padding-right: 0px;
        padding-left: 10px;
    }
}

@media(min-width:992px) {
    #info-row .info-container:nth-child(4n-3) {
        padding-right: 10px;
        padding-left: 0;
    }

    #info-row .info-container:nth-child(4n-2) {
        padding-right: 10px;
        padding-left: 10px;
    }

    #info-row .info-container:nth-child(4n-1) {
        padding-right: 10px;
        padding-left: 10px;
    }

    #info-row .info-container:nth-child(4n) {
        padding-right: 0px;
        padding-left: 10px;
    }
}

.news-container, .news-container:link, .news-container:visited, .news-container:active {
    text-decoration:none;
    color: #000;
}

.news-container:hover {
    color: #A4A091;
}

#view_more_button_home:link, #view_more_button_home:active, #view_more_button_home, #view_more_button_analysis:link, #view_more_button_analysis:active, #view_more_button_analysis {
    background-color: #fff;
    color: #A4A091;
    font-weight: 600; 
    border: 2px solid #A4A091; 
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 15px;
}

#view_more_button_home:hover, #view_more_button_analysis:hover {
    background-color: #A4A091;
    color: #fff;

}

#search-bar-box {
    display: flex;
    cursor: pointer;
    border: none;
}

/* HOME */

/* Pie Chart slices hover pointer */
.plot-container .slice > .surface:hover {
    cursor: pointer;
}